<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://code.alibabatech.com/schema/dubbo 
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-4.0.xsd">
	
	<context:property-placeholder location="classpath:resources.properties"/>
	
	<!-- 1.加载表现层类（创建对象Controller） 2.注解驱动(支持springmvc注解，支持json格式数据自动转换) 3.视图解析 -->
	<!-- 扫描Controller -->
	<context:component-scan base-package="com.taotao.manager.controller"></context:component-scan>
	<!--注解驱动 -->
	<mvc:annotation-driven />
	
	<!-- 静态资源放行 -->
	<mvc:resources location="/css/" mapping="/css/**"/>
	<mvc:resources location="/js/" mapping="/js/**"/>
	
	<!-- 视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	<!-- 上传文件解析器 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="10240000"></property>
	</bean>
	
	<!-- 引入Zookeeper注册中心服务 -->
	<!-- 引用服务 -->
	<dubbo:application name="taotao-manager-web"/>
	<!-- <dubbo:registry address="multicast://224.5.6.7:1234" /> -->
	<!-- 使用dubbo从Zookeeper注册中心获取服务 -->
	<dubbo:registry protocol="zookeeper" address="192.168.227.136:2181"/>
	<!-- 引用服务 -->
	<dubbo:reference interface="com.taotao.manager.service.ItemService" id="itemService" timeout="100000"/>
	<dubbo:reference interface="com.taotao.manager.service.ItemCatService" id="itemCatService" timeout="100000"/>
	<dubbo:reference interface="com.taotao.content.service.ContentCategoryService" id="contentCategoryService" timeout="100000"/>
	<dubbo:reference interface="com.taotao.content.service.ContentService" id="contentService" timeout="100000"/>
	<dubbo:reference interface="com.taotao.search.service.SearchItemService" id="searchItemService" timeout="100000"/>
</beans>