<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://code.alibabatech.com/schema/dubbo 
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-4.0.xsd">
	<!-- 1.加载Service类 2.管理事务 -->
	<context:component-scan base-package="com.taotao.order"></context:component-scan>

	<!-- 管理事务 -->
	<!-- 创建一个管理事务类 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<!-- 事务通知 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<!-- 传播行为 -->
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="insert*" propagation="REQUIRED" />
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="create*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="find*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="select*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="get*" propagation="SUPPORTS" read-only="true" />
		</tx:attributes>
	</tx:advice>
	<!-- 事务切面 -->
	<aop:config>
		<aop:advisor advice-ref="txAdvice"
			pointcut="execution(* com.taotao.service.*.*(..))" />
	</aop:config>
	
	<!-- 发布服务：把接口service发布Zookeeper注册中心 -->
	<!-- 提供方应用信息，用于计算依赖关系 -->
	<dubbo:application name="hubin-order-service"/>
	<!-- 使用multicast广播注册中心暴露服务地址 -->
	<!-- <dubbo:registry address="multicast://224.5.6.7:1234"/> -->
	<!-- 使用dubbo通过Zookeeper协议注册服务:注册服务到注册服务中心（zookeeper） -->
	<dubbo:registry protocol="zookeeper" address="192.168.227.136:2181"/>
	<!-- 用dubbo协议在20880端口暴露服务 :此端口是提供给消费者，消费者通过dubbo协议，调用Zookeeper注册中心的服务-->
	<dubbo:protocol name="dubbo" port="20885" />
    <!-- 声明需要暴露的服务接口 -->
    <!-- 创建需要发布对象-->
    <!--     
    <bean id="userServiceImpl" class="com.taotao.user.service.impl.UserServiceImpl"></bean>
   	-->
   	<!-- 发布服务 -->
   	<!--   
    <dubbo:service interface="com.taotao.user.service.UserService" ref="userServiceImpl" timeout="100000"/>
	-->
</beans>