<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://code.alibabatech.com/schema/dubbo 
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-4.0.xsd">
	
	<context:property-placeholder location="classpath:resources.properties"/>
	
	<!-- 扫描包结构 -->
	<context:component-scan base-package="com.taotao.search.controller"></context:component-scan>
	<!-- 注解驱动 -->
	<mvc:annotation-driven />
	<!-- 视图解析器 -->
	<bean id=""
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<!-- 引用服务 -->
	<dubbo:application name="taotao-portal-web" />
	<!-- <dubbo:registry address="multicast://224.5.6.7:1234" /> -->
	<!-- 使用dubbo从Zookeeper注册中心获取服务 -->
	<dubbo:registry protocol="zookeeper" address="192.168.227.136:2181" />
	<!-- 获取服务 -->
	 
	<dubbo:reference interface="com.taotao.search.service.SearchItemService" id="searchItemService" timeout="100000"/>
	
	
	<!-- 静态资源放行 -->
	<mvc:resources location="/css/" mapping="/css/**"/>
	<mvc:resources location="/js/" mapping="/js/**"/>
	
</beans>